.corpoo{
  margin-left: 500px;
  margin-top: 200px; 
  }
  
  body{
    background-image: url(https://data3.origin.com/asset/content/dam/originx/web/app/games/star-wars/star-wars-squadrons/features/maverick_pdp_prefeature_mission_en_ww_v1.jpg/864772b4-37cc-4f6d-b3f0-d144e29ea5c5/original.jpg);
    background-repeat: no-repeat;
    background-size: 1710px 1100px;
    display: flex;
  }

  .headd{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 100px; */
  }
  
  